@import "../../styles/variables";

.footer {
  background-color: $pageColor;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid $border-header-color;
}

.footerContent {
  max-width: 1200px;
  margin: 0 auto;
}

.footerText {
  margin: 0;
  font-size: 14px;
}

.footerLinks {
  margin-top: 10px;
}

.footerLink {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.footerLink:hover {
  color: #f1f1f1;
}
